{{ $canonical := (.Permalink) }}
{{ if (and (.IsNode) (not (.IsHome))) }}
    {{ with ($.Paginator) }}
        {{ $canonical = ((.URL) | absURL) }}
        <link rel="first" href="{{ ((.First.URL) | absURL) }}">
        <link rel="last" href="{{ ((.Last.URL) | absURL) }}">
        {{ if (.HasPrev) }}
          <link rel="prev" href="{{ ((.Prev.URL) | absURL) }}">
        {{ end }}
        {{ if (.HasNext) }}
          <link rel="next" href="{{ ((.Next.URL) | absURL) }}">
        {{ end }}
    {{ end }}
{{ end }}
<link rel="canonical" href="{{ ($canonical) }}">
