{{ $styles := (site.Data.ui.styles) }}

{{ with ($styles.vendor) }}
    {{ $bundle := slice }}
    {{ range . }}{{ $bundle = (($bundle) | append (resources.Get .)) }}{{ end }}
    {{ $bundle = ((($bundle) | resources.Concat "css/vendor.bundle.css") | minify) }}
    <link rel="preload" href="{{ ($bundle.RelPermalink) }}" as="style">
    <link rel="stylesheet" href="{{ ($bundle.RelPermalink) }}">
{{ end }}

{{ with ($styles.system) }}
    {{ $bundle := slice }}
    {{ range . }}{{ $bundle = (($bundle) | append (resources.Get .)) }}{{ end }}
    {{ $bundle = (($bundle) | resources.Concat "css/system.bundle.scss") }}
    {{ $bundle = (($bundle) | resources.ExecuteAsTemplate ("css/system.bundle.scss" | relLangURL) .) }}
    {{ $bundle = ((($bundle) | toCSS) | minify) }}
    <link rel="preload" href="{{ ($bundle.RelPermalink) }}" as="style">
    <link rel="stylesheet" href="{{ ($bundle.RelPermalink) }}">
{{ end }}
