{{ $scripts := (site.Data.ui.scripts) }}
{{ $cfg := (site.Params) }}

{{ with ($scripts.vendor) }}
    {{ $bundle := slice }}
    {{ range . }}{{ $bundle = (($bundle) | append (resources.Get .)) }}{{ end }}
    {{ $bundle = ((($bundle) | resources.Concat "js/vendor.bundle.js") | minify) }}
    <script src="{{ ($bundle.RelPermalink) }}" defer></script>
{{ end }}

{{ with ($scripts.system) }}
    {{ $bundle := slice }}
    {{ range . }}{{ $bundle = (($bundle) | append (resources.Get .)) }}{{ end }}
    {{ $bundle = ((($bundle) | resources.Concat "js/system.bundle.js") | js.Build) }}
    {{ $bundle = ((($bundle) | resources.ExecuteAsTemplate ("js/system.bundle.js" | relLangURL) .) | minify) }}
    <script src="{{ ($bundle.RelPermalink) }}" defer></script>
{{ end }}
