{{ $uiTheme := (((resources.Get "js/theme.js") | minify) | resources.Fingerprint) }}
<link rel="preload" href="{{ ($uiTheme.RelPermalink) }}" as="script" integrity="{{ ($uiTheme.Data.Integrity) }}">
<script src="{{ ($uiTheme.RelPermalink) }}" integrity="{{ ($uiTheme.Data.Integrity) }}"></script>

{{ $theme := (site.Params.ui.color.theme) }}
{{ with ($theme.light) }}
  <meta name="theme-color" content="{{ . }}" media="(prefers-color-scheme: light)">
{{ end }}
{{ with ($theme.dark) }}
  <meta name="theme-color" content="{{ . }}" media="(prefers-color-scheme: dark)">
{{ end }}
