.btn {
  @include font-cond();

  &-icon {
    display: inline-flex;
    align-items: center;

    > .icon {
      &:first-child:not(:last-child) {
        margin-right: .5rem;
      }

      &:last-child:not(:first-child) {
        margin-left: .5rem;
      }
    }
  }
}

.figure {
  display: table;

  &-caption {
    display: table-caption;
    caption-side: bottom;
    text-align: center;
  }
}

.fancybox {
  &__container {
    z-index: var(--fancybox-zIndex, 2050);
  }
}

