<div class="card node-authors h-100">
  <div class="card-body">
    <div class="card-title h4">{{ (i18n "authors") }}</div>
      {{ if (.Params.authors) }}
        <ul>
            {{ range (.GetTerms "authors") }}
              <li>
                <a href="{{ (.Permalink) }}">{{ (.Title) }}</a>
              </li>
            {{ end }}
        </ul>
      {{ else }}
          {{ (partial "alert" (dict
          "type" "warning"
          "icon" "fas fa-user"
          "msg" (i18n "alert.authors_not_found")
          )) }}
      {{ end }}
  </div>
</div>
