<div class="card node-categories h-100">
  <div class="card-body">
    <div class="card-title h5 fs-5">{{ (i18n "categories") }}</div>
      {{ if (.Params.categories) }}
        <ul class="list-inline">
            {{ range (.GetTerms "categories") }}
              <li class="list-inline-item">
                <a href="{{ (.Permalink) }}">{{ (.Title) }}</a>
              </li>
            {{ end }}
        </ul>
      {{ else }}
          {{ (partial "alert" (dict
          "type" "warning"
          "icon" "fas fa-folder-open"
          "msg" (i18n "alert.categories_not_found")
          )) }}
      {{ end }}
  </div>
</div>
