<div class="tab-pane show active" id="tab-pane-main-home" role="tabpanel" aria-labelledby="tab-main-home" tabindex="0">
  <div class="node-body">
      {{ if (in (.Params.categories) "inDev") }}
          {{ (partial "alert" (dict
          "type" "warning"
          "icon" "fas fa-edit"
          "msg" (i18n "alert.in_dev")
          )) }}
      {{ end }}
      {{ if (in (.Params.categories) "inHistory") }}
          {{ (partial "alert" (dict
          "type" "warning"
          "icon" "fas fa-clock-rotate-left"
          "msg" (i18n "alert.in_history")
          )) }}
      {{ end }}
      {{ if (in (.Params.categories) "opinion") }}
          {{ (partial "alert" (dict
          "type" "warning"
          "icon" "fas fa-user-graduate"
          "msg" (i18n "alert.opinion")
          )) }}
      {{ end }}
      {{ (partial "page/toc" .) }}
      {{ (.Render "content") }}
      {{ (partial "page/sources" .) }}
  </div>
</div>
