{{ $cfg := (site.Params.page) }}

<div class="tab-pane" id="tab-pane-main-info" role="tabpanel" aria-labelledby="tab-main-info" tabindex="0">
  <div class="node-body">
    <div class="row row-cols-1 row-cols-lg-2 g-3">
        {{ if ($cfg.tabs.info.categories.enabled) }}
          <div class="col">
              {{ (partial "page/tabs/categories" .) }}
          </div>
        {{ end }}
        {{ if ($cfg.tabs.info.tags.enabled) }}
          <div class="col">
              {{ (partial "page/tabs/tags" .) }}
          </div>
        {{ end }}
        {{ if ($cfg.tabs.info.authors.enabled) }}
          <div class="col">
              {{ (partial "page/tabs/authors" .) }}
          </div>
        {{ end }}
        {{ if ($cfg.tabs.info.related.enabled) }}
          <div class="col">
              {{ (partial "page/tabs/related" .) }}
          </div>
        {{ end }}
        {{ if ($cfg.tabs.info.meta.enabled) }}
          <div class="col">
              {{ (partial "page/tabs/meta" .) }}
          </div>
        {{ end }}
        {{ if ($cfg.tabs.info.stats.enabled) }}
          <div class="col">
              {{ (partial "page/tabs/stats" .) }}
          </div>
        {{ end }}
    </div>
  </div>
</div>
