{{ define "main" }}

  <div class="section py-3 py-md-4">
    <div class="container">

        {{ (partial "breadcrumb" .) }}

      <article class="{{ with (.Param "private") }}private-content{{ end }}">
        <header>
          <div class="node-cover mb-3">
              {{ (partial "module/node/cover/image" (dict "context" . "view" "lg")) }}
          </div>
          <div class="node-title">
            <h1 class="h2 text-center">
                {{ (.Title) }}
              <sup>{{ (partial "module/node/indicators" .) }}</sup>
            </h1>
          </div>
        </header>
        <footer>
            {{ (partial "module/node/authors" .) }}
        </footer>

          {{ (partial "module/node/tabs/_tabs" .) }}

      </article>
    </div>
  </div>

{{ end }}
