{{ define "main" }}

    {{ $cfg := (index (site.Params.section) "home") }}
    {{ $pages := (where (site.RegularPages) "Section" "in" ($cfg.content)) }}
    {{ $paginator := (.Paginate ($pages)) }}

    <div class="row row-cols-1
    row-cols-sm-{{ (($cfg.grid.cols.sm) | default 1) }}
    row-cols-md-{{ (($cfg.grid.cols.md) | default 1) }}
    row-cols-lg-{{ (($cfg.grid.cols.lg) | default 1) }}
    row-cols-xl-{{ (($cfg.grid.cols.xl) | default 2) }}
    row-cols-xxl-{{ (($cfg.grid.cols.xxl) | default 2) }}
    g-3">
        {{ range ($paginator.Pages) }}
          <div class="col">
              {{ (.Render "view") }}
          </div>
        {{ end }}
    </div>

    {{ (partial "pagination" .) }}

{{ end }}
